%% -*- erlang -*-
{sub_dirs, ["rel", "apps/dalmatiner_frontend"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, []}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
